
.multiselect-wrapper .multiselect-input {
	float:left;
}

.multiselect-wrapper label {
	display: block;
	font-size: 13px;
	color:black;
	padding:3px 3px 3px;
}

.multiselect-wrapper .multiselect-list {
	z-index: 1;
	position: absolute;
	display: none;
	width: 400px;
	background-color: white;
	border: 1px solid #888;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
	margin-top: 20px;
}

	.multiselect-wrapper .multiselect-list.active {
		display: block;
	}


	.multiselect-wrapper .multiselect-list .multiselect-checkbox {
		margin-right: 2px;
	}

	.multiselect-wrapper .multiselect-list > span,
	.multiselect-wrapper .multiselect-list li {
		cursor: default;
	}

.multiselect-wrapper ul {
	list-style: none;
	display: block;
	position: relative;
	padding: 0px;
	margin: 0px;
	max-height: 160px;
	overflow-y: auto;
	overflow-x: hidden;
}

	.multiselect-wrapper ul li {
		padding-right: 20px;
		display: block;
	}

		.multiselect-wrapper ul li.active {
			background-color: rgb(0, 102, 255);
			color: white;
		}

		.multiselect-wrapper ul li:hover {
			background-color: rgb(0, 102, 255);
			color: white;
		}

.multiselect-count {
	position: relative;
	text-align: center;
	border-radius: 2px;
	background-color: lightblue;
	display: inline-block !important;
	padding: 2px 7px;
	left: -45px;
}

.multiselect-input-div {
	height: 34px;
}

@media (max-width: 800px) {
  .multiselect-wrapper .multiselect-input {
    margin: 5px;
    width: 100%;
  }
  .multiselect-wrapper .multiselect-list {
  	width: 80%;
  }
}



